# Operating System files
.DS_Store
Thumbs.db

log/
obj/
_site/
.optemp/
_themes*/
_repo.*/

.openpublishing.buildcore.ps1

.vscode/

*sec.endpointdlp

# CoPilot instructions and prompts
.github/copilot-instructions.md
.github/prompts/*.md
.github/prompts/*.zip
.github/patterns/*.md
.github/chatmodes/*.*

# Dev-kit instructions and prompts
.github/AGENTS.md
.github/agents/*.md
.github/instructions/*md
.github/skills/

# DocKit
.env.*
requirements.txt
.dockit/*
.github/evaluate/*
.github/data/*
.github/agents/*
.github/AGENTS.md
.github/instructions/*
.github/skills/*
.roo/*

# Doc-Kit workspace files
.github/agents/
.github/instructions/
.github/prompts/
.github/skills/
.vscode/settings.json
.dockit/
.env
.env.example
.dockitignores.md