---
title: Face identity verification input recommendations
titleSuffix: Azure AI services
#services: cognitive-services
author: PatrickFarley
manager: nitinme
ms.service: azure-ai-vision
ms.custom:
ms.topic: include
ms.date: 02/23/2025
ms.author: pafarley
---

- Photo is clear and sharp—not blurry, pixelated, distorted, or damaged.
- Photo is not altered to remove face blemishes or alter face appearance.
- Photo must be in an RGB color supported format (JPEG, PNG, WEBP, BMP). Recommended Face size is 200px x 200px. Face sizes larger than 200x200 won't result in better AI quality. Image files must not be larger than 6 MB in size.
- User is not wearing glasses, masks, hats, headphones, head coverings, or face coverings. Face should be free of any obstructions.
- Facial jewelry is allowed provided it does not hide the face.
- Only one face should be visible in the photo.
- Face should be in a neutral front-facing pose with both eyes open, mouth closed, with no extreme facial expressions or head tilt.
- Face should be free of any shadows or red-eye. Retake photo if either of these occur.
- Background should be uniform and plain, free of any shadows.
- Face should be centered within the image and fill at least 50% of the image.